/* all h1 */
h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* and all h1 */



/* photo page 1 */
#photo-efy {
    width: 400px;
    border-radius: 40px;
}
/* and photo page 1 */



/* barrre de tache ecrits */
.tachebare {
    /* margin-right: 20%;
    margin-left: 120px; */
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10%;
    /* padding: 50px; */

    
}
/* and barre de tache ecrits(a) */



/* hover all link */
a:hover {
    color: rgb(223, 182, 182);;
}
/* and hover all link */



/* barre de tache general */
.barre {
    text-align: center;
    background-color: blue;
    /* padding: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/* and barre de tache general */

 

/* paragraphe page 1 */
#infos {
    margin-left: 30px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* and paragraphe page 1 */



/* paragraphe page 2 */
.p-2{
    font-size: 20px;
}
/* and paragraphe page 2 */



/* photo page 2 */
#unikin {
    width: 200px;
    margin-left: 42%;
    border-radius: 10px;
}
/* and photo page 2 */



/* small page 1 */
small {
    color: red;
}
/* and small page 1 */



/* ordinal liste page 3 */
ol {
    font-size: 30px;
    margin: 10px;
}
li {
    border-left: 2px solid;
}

#li1 {
    border-left-color: black;
    border-left-width: 6px;
    padding-left: 15px;
}

#Email:hover{
    color: black;
}

#li2{
    border-left-color: red;
    border-left-width: 6px;
    padding-left: 15px;
}
#Instagram:hover{
    color: red;
}

#li3{
    border-left-color: blue;
    border-left-width: 6px;
    padding-left: 15px;
}
#Facebook:hover{
    color: blue;
}

#li4{
    border-left-color: rgb(124, 124, 255);
    border-left-width: 6px;
    padding-left: 15px;
}
#Twitter:hover{
    color: rgb(124, 124, 255);
}

#li5{
    border-left-color: green;
    border-left-width: 6px;
    padding-left: 15px;
}
#Whatsapp:hover{
    color: green;
}


#li6{
    border-left-color: rgb(128, 128, 128);
    border-left-width: 6px;
    padding-left: 15px;
}
#t243829318798:hover{
    color: rgb(128, 128, 128);
}
/* and ordinal liste page 3 */